body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EEEEEE;
  color: #333333;
}

#container {
  background-color: #FFFFFF;
  width: 720px;
  height: 540px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  padding: 8px;
  position: relative;
}

button {
  padding: 18px;
  font-size: 18px;
  color: #FFFFFF;
}

#shuffle {
  background-color: #2299FF;
}

#sort {
  background-color: #55AA55;
}

#stop {
  background-color: #ff5544;
}
